<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Taloc admin panel{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {# JQUERY: #}
        <script type="text/javascript" src="{{ asset('lib/jquery/jquery-1.11.2.min.js') }}"></script>
        
        {# BOOTSTRAP: #}
        <link rel="stylesheet" type="text/css" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}">
        <script type="text/javascript" src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
        
        {# Service: #}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/backend/admin.css') }}">
        <script type="text/javascript" src="{{ asset('js/backend/main.js') }}"></script>
        
        {# fonts: #}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    </head>
    <body class="admin_login_layout">
    

                {% block center %}{% endblock %}


                {% block javascripts %}{% endblock %}
                
        </div>
    </body>
</html>
